.header {
  padding: 10px 20px;
  background-color: var(--light-background);
  border-radius: 50px;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userContainer img {
  border-radius: 50%;
  border: 3px solid #60aaba;
  object-fit: cover;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.nameContainer h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

.nameContainer p {
  font-weight: 200;
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .userContainer {
    gap: 10px;
  }

  .nameContainer h4 {
    font-size: 16px;
  }

  .nameContainer p {
    font-size: 12px;
  }
}
