.card {
  border-radius: 20px;
  padding: 40px 30px;
}

.card h1,
.card h2 {
  font-size: 64px;
  text-transform: uppercase;
  font-weight: bold;
}

.card > p {
  font-size: 16px;
  font-weight: 500;
}

.primary {
  background-color: var(--card-primary);
}

.primary h1 {
  color: var(--card-primary-heading);
}

.primary p {
  color: var(--card-primary-text);
}

.secondary {
  background-color: var(--card-secondary);
}

.secondary ul {
  margin-top: 20px;
  padding-left: 20px;
}

.secondary h2 {
  color: var(--card-secondary-heading);
}

.secondary strong {
  color: var(--card-secondary-text);
  font-weight: 800;
}

.secondary ul li::marker {
  color: var(--card-secondary-text);
}

.secondary p {
  color: var(--card-secondary-text);
}

.tertiary {
  position: relative;
  overflow: hidden;
  background-color: var(--card-tertiary);
}

.tertiary h2 {
  color: var(--card-tertiary-heading);
}

.hasBlockquote blockquote {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color);
  z-index: 2;
}

.hasBlockquote::before,
.hasBlockquote::after {
  content: '"';
  color: var(--text-color);
  font-family: Helvetica;
  position: absolute;
  font-size: 250px;

  z-index: 1;
  color: #60a9ba5b;
}

.hasBlockquote::after {
  top: -40px;
  left: 8px;
  transform: rotate(-20deg);
}

.hasBlockquote::before {
  top: 60px;
  right: 30px;
  transform: rotate(20deg);
}

.grow {
  flex-grow: 1;
}
