.form {
  margin-top: 10px;
}

.form > div {
  display: flex;
  gap: 20px;
}

.form div input,
.form textarea {
  border: 2px solid #bac3ce;
  background-color: transparent;
  border-radius: 10px;
  padding: 12px 20px;
  color: var(--text-color);
}

.form textarea {
  margin-top: 20px;
  width: 100%;
  resize: none;
  min-height: 200px;
}

.form div input::placeholder,
.form textarea::placeholder {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.error {
  margin-top: 4px;
  font-size: 14px;
  color: var(--error-color);
}

@media screen and (max-width: 600px) {
  .form div {
    flex-direction: column;
    gap: 10px;
  }

  .form textarea {
    margin-top: 10px;
  }
}
