:root {
  --dark-background: #0d0d0b;
  --light-background: #1c232b;
  --text-color: #b9b9b9;
  --card-primary: #fbd269;
  --card-primary-heading: #976f09;
  --card-primary-text: #594510;
  --card-secondary: #fc9e6a;
  --card-secondary-heading: #ae4c16;
  --card-secondary-text: #813B15;
  --card-tertiary: var(--light-background);
  --card-tertiary-heading: #bac4ce;
  --max-width: 1200px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background: var(--dark-background);
}

a {
  color: inherit;
  text-decoration: none;
}
